* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'CircularStd-Bold';
  src: url("../font/CircularStd-Bold.otf") format('opentype');
}

@font-face {
  font-family: 'CircularStd-Book';
  src: url('../font/CircularStd-Book.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins-Bold';
  src: url('../font/Poppins-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins-Light';
  src: url('../font/Poppins-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins-Medium';
  src: url('../font/Poppins-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins-Regular';
  src: url('../font/Poppins-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins-Bold';
  src: url('../font/Volkhov-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins-Regular';
  src: url('../font/Volkhov-Regular.ttf') format('truetype');
}

.contentarea {
  max-width: 1200px;
  margin-inline: auto;
  padding: 15px;
}


/* ---------HOME PAGE SESSION------------- */
.rectangle {
  background-image: url('/plusgen t2/img/Home/Rectangle\ 19295.png');
}
.html{
  font-size: 35px;
}
h1{
  font-size:  3rem;
  font-weight: 600;
}
h2{
  font-size: 1.2rem; 
  color: rgb(45, 168, 216);
  margin-block: 20PX;
  font-family: 'CircularStd-Bold';
}
h3{
  font-size: 2.5rem; 
  font-family: 'Poppins-Bold';
}
 
h4{
  font-size: 1.5rem; 
}
p{
  font-size: 1rem;
}
a{
  font-size: 1em;
}
.top_session {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.top1 {
  display: flex;
  justify-content: space-between;
  font-family: 'CircularStd-Book';
}

.top1_1 {
  color: rgb(16, 219, 87);
}

.top1_2 {
  color: white;
}

.top1_2 p::before {
  content: url('../img/Home/Frame.png');
}

/* ----------------top 2-------------------- */
 .top2 {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  height: 100px;
  font-family: 'CircularStd-Book';
}

.top2_list ul {
  display: flex;
  gap: 30px;

}
 
.top2_list ul li a {
  height: 60px;
  margin-block: auto;

  align-content: center;
  color: white;
  text-decoration: none;
}

.top2_cart img {
  margin: -34px -38px 0px -13px;
}

.top2_list button {
  display: none;
}

/* --------------------------------------------------- */

.slide_pic img {
  width: 100%;
}


/* ------------top right--------------- */
.top_right .content {
   margin-top: 70px;
  font-family: 'Poppins-Medium';
}

.top_right_para h1 span {
   color: white;
   display: block;
}
.search {
  margin-top: 30px;
}
.top_right_search .search {
  position: relative;
}
.search_input {
  width: 55%;
  padding: 20px;
  font-size: 21px;
  border: 0px;
  border-radius: 8px;
  background-color: rgba(225, 225, 225, 0.8);
}

.top_right_search .btn_search {
  position: absolute;
  padding: 20px;
  padding: 14px 48px 14px 48px;
  border-radius: 9px;
  background-color: black;
  color: white;
  left: 461px;
  top: 10px;
}

.top_right_search {
  position: relative;
}

.top_right_search .pic {
  margin-top: 20px;
}

.top_right_pic2 {
  position: absolute;
  left: 25px;
}

.top_right_pic2 {
  position: absolute;
}

.top_right_pic3 {
  position: absolute;
  left: 50px;
}

.top_right_pic4 {
  position: absolute;
  left: 77px;
}

.top_right_pic5 {
  position: absolute;
  left: 105px;
}

.top_right_pic6 {
  position: absolute;
  left: 130px;
}

.top_right_search .pic::after {
  content: "+";
  font-weight: bold;
  position: absolute;
  left: 157px;
  border: 1px solid white;
  border-radius: 50%;
  background-color: rgb(87, 230, 134);
  width: 35px;
  height: 35px;
  color: aliceblue;
  text-align: center;
  align-content: center;
}

.top_right_pic_para {
  position: absolute;
  bottom: 15px;
  left: 220px;
  color: white;
}

.scroll img {
  margin-left: -250px;
  margin-top: 100px;
}

/* ----------------travel--------------------------- */
.travel {
  display: flex;
  justify-content: space-around;
  padding: 50px;
  margin-block: 50px;
}

/* ------------------about us ----------------------- */
.aboutus {
  display: flex;
  justify-content: space-evenly;
}

.btn {
  background-color: black;
  color: white;
  padding: 10px;
  border-radius: 20px;
  margin-block: 30px;
  width: 150px;
}

.btn a {
  text-decoration: none;
  color: white;
  font-family: 'CircularStd-Book';

}

.about_img1 {
  height: 694px;
  position: relative;
  z-index: 1;
}

.col1_img {
  position: relative;
}

.about_col2 {
  font-family: 'Poppins-Bold';
  flex-basis: 35%;
  margin: 80px;
}

.about_col2 .about_head1 {
  font-family: 'CircularStd-Book';
  color: rgb(45, 168, 216);
}

.about_para {
  font-family: 'CircularStd-Book';
  margin-block: 30px;
}

.about_img2 {
  position: absolute;
  bottom: -23px;
  right: -33px;
}

/* ---------------All categories------------- */

.offer_head {
  text-align: center;
}

.offer_head1 {
  font-family: 'CircularStd-Bold';
  color: rgb(0, 157, 255);
}

.offer_head2 {
  font-family: 'Poppins-Bold';
  margin-block: 20px;
}

.offer_flex {
  display: flex;
  justify-content: space-between;
  margin-block: 20px;

}

.offer_para span {
  font-family: 'CircularStd-Book';
  display: block;
  line-height: 21px;
}

.offer_box {
  text-align: center;
  flex-basis: 45%;
  margin-block: 20px;

}

.offer_pic_head {
  font-family: 'CircularStd-Bold';
  margin-block: 20px;
}

.offer_button {
  text-align: center;
}

 .offer_pic1 {
  position: relative;
}

.pic1 {
  position: relative;
  z-index: 1;
}

.offer_box .bg_box {
  background-color: rgb(197, 253, 197);
  width: 50px;
  height: 50px;
  display: block;
  position: absolute;
 }

.positionbg2 {
  bottom: -7px;
  left: 100px;
  border-radius: 5px 20px
}

.positionbg1 {
  bottom: -7px;
  right: 100px;
  border-radius: 20px 5px;
}

.positionbg4 {
  bottom: -7px;
  right: 100px;
  border-radius: 5px 18px
}

.offer_pic2 {
  position: relative;
}

.pic2 {
  position: relative;
  z-index: 1;
}

.offer_pic3 {
  position: relative;
}

.pic3 {
  position: relative;
  z-index: 1;
}

.offer_pic4 {
  position: relative;
}

.pic4 {
  position: relative;
  z-index: 1;
}

/* ------STRATEGIES----------------------------------------- */
.strategy_head1 {
  color: rgb(45, 168, 216);
  margin-block: 10PX;
  font-family: 'CircularStd-Bold';
}

.strategy_head2 span {
  display: block;
   font-family: 'Poppins-Bold';
}

.flexible_flex .flex {
  display: flex;
  gap: 30px;
  margin-block: 30px;
}

.flexible_flex h1 {
  font-size: 20px;
  font-family: 'Poppins-Light';
}

.flexible_flex span {
  display: block;
  font-family: 'Poppins-Light';
}

.strategy_flex {
  display: flex;
   justify-content: space-between;
 }

.whitebg {
   background-color: rgb(244, 244, 244);
  height: 350px;
  width: 350px;
   border-radius: 30px;
  position: relative;
  z-index: 1;
  box-shadow: -1px 1px rgb(225, 225, 225);
}

.patientcare {
  position: relative;
  margin-block: auto;
}

.patient_pic1 {
  position: absolute;
  margin-top: 23px;
  margin-left: 14px;
}

.patient_pluspic {
  position: absolute;
  transform: rotate(90deg);
  bottom: -59px;
  left: -65px;
}

.patient_stethescope {
  position: absolute;
  bottom: 260px;
  left: 152px;
}

.patient_stethescope img {
  width: 550px;
}

/* --------------Get in touch---------------------- */

.get_bg {
  position: relative;
 }

.intouch_bg img {
  position: absolute;
  top: 0;
  width: 100%;
}

.intouch_img img {
  width: 100%;
}

.connect {
  position: absolute;
  top: 80px;
  left: 155px;
}

.connect_head1 {
  font-family: 'Poppins-Light';
  color: rgb(45, 168, 216);
}

.connect_head2 span {
  display: block;
  font-family: 'Poppins-Bold';
}

.connect_content {
  display: flex;
  justify-content: space-between;
  color: white;
  gap: 591px;

}

.connect_btn a {
  padding: 20px;
  text-decoration: none;
  color: rgb(41, 51, 56);
  font-family: 'CircularStd-Book';
}

.connect_btn button {
  padding: 20px 30px;
  border-radius: 25px;
  border: 0px solid white;
}

 
/* ----------Area of Focus-------------------- */
.field_head1 {
   color: rgb(45, 168, 216);
  margin-block: 20px;
  font-family: 'CircularStd-Bold';
}

.field_head2 span {
  display: block;
  font-family: 'Poppins-Regular';
}

.field_para p {
  margin-block: 30px;
  font-family: 'Poppins-Light';
}

.field_para p span {
  display: block;
}

.field_btn_collection button {
  display: block;
  margin-bottom: 10px;
}

.field_btn_collection .field_btn {
  display: flex;
  justify-content: space-between;
}

.field_btn {
  padding: 15px;
  width: 500px;
  text-align: left;
  border-radius: 30px;
  border: 1px solid rgb(211, 208, 208);
}

.field_btn:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

.area_focus {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.illustration img {
  height: 600px;

}

.illustration {
  position: relative;
  margin-block: auto;

}

.btn_content {
  width: 300px;
  position: absolute;
  background-color: #161b4a;
  border-radius: 20px;
  bottom: 11px;
  left: -157px;
  padding: 30px;
  height: 335px;
  color: white;
  display: none;
}

.btn_content.current {
  display: block;
}

.button h3 {
  font-weight: 300;
}

 /* -----------------buy now---------------------- */
.buy_now_img {
  display: flex;
}

.facemask_pic {
  width: 100%;
}

.covidpack_pic {
  width: 100%;
}

.buy_facemask {
  position: relative;
}

.buy_covidpack {
  position: relative;
}

.buy_mask {
  position: absolute;
  top: 100px;
  left: 230px;
  color: white;
  text-align: center;
}

.buy_pack {
  position: absolute;
  top: 100px;
  left: 230px;
  color: white;
  text-align: center;
}

.buy_now {
  margin-block: 100px;
}

.buy_now_button {
  padding: 10px;
  border: 1px solid white;
  border-radius: 10px;
  width: 117px;
  margin-inline: auto;
  margin-block: 20px;
}

.buy_now_button a {
  color: white;
  text-decoration: none;
}

.buy_mask_head1 {
   color: white;

}

.buy_text {
  text-align: center;
  color: rgb(255, 255, 255);
}

/* ------------------vitamin----------------------------------- */
.medicine_head {
  text-align: center;
}

.medicine_head1 {
  color: orangered;
 }

.medicine_head2 span {
  display: block;
 }

.vitamin_flex {
  margin-block: 30px;
}

.vitamin_flex {
  display: flex;
  gap: 80px;
 }

 .stars {
  display: flex;
  justify-content: space-between;
  margin-block: 30px;
}

.star_color {
  color: gold;
}

.vitamin_pic {
  margin-block: 50px;
  position: relative;
}

.vitamin_pic1 {
  width: 350px;

}

.flag1 {
  position: absolute;
  bottom: -73px;
  left: 10px;
}

.flag2 {
  position: absolute;
  bottom: -73px;
  left: 10px;
}

.flag3 {
  position: absolute;
  bottom: -73px;
  left: 10px;
}

.calender_days {
  font-family: 'CircularStd-Book';
  color: rgb(126, 124, 124);
}
.vitamin_head{
  color: black;
}
.vitamin_text{
  text-align: left;
}
.price_head {
  color: red;

}

.price_line {
  font-weight: 100;
  color: rgb(126, 124, 124);
  font-size: 20px;
  margin-left: 15px;
}

.vitamin_para {
  line-height: 25px;
  font-family: 'CircularStd-Book';
}

.vitamin_cart {
  border: 1px solid;
  padding: 10px;
  width: 150px;
  text-align: center;
  background-color: black;
  border-radius: 10px;
  margin-block: 30px;
}

.vitamin_cart a {
  color: white;
  text-decoration: none;
  font-family: 'CircularStd-Book';
}

/* ---------------------Promotion------------------------------ */
/* .promo_bg img {
  width: 100%;
}

.promo_bg {
  position: relative;
}

.promo_head {
  position: absolute;
  top: 65px;
  left: 540px;
  text-align: center;
}

.promo_head2 span {
  display: block;
  font-family: 'Poppins-Bold';

}

.white_bg {
  width: 450px;
  height: 250px;
  background-color: white;
  position: absolute;
  top: 250px;
  left: 510px;
  border-radius: 10px;
}

.white_bg_profile img {
  width: 150px;
}

.white_bg_profile {
  position: absolute;
  top: -50px;
  left: 160px;
}

.white_bg_para {
  text-align: center;
  position: absolute;
  top: 15px;
  padding: 50px;
  line-height: 25px;
  font-family: 'CircularStd-Book';

} */

.promo_hd{
  text-align: center;
}
.wb{
text-align: center;
border: 0px solid;
background-color: rgb(239, 231, 220);
padding: 50px;
width: 500px;
margin-inline: auto;
margin-top: 100px;
position: relative;  
}
.bg_pic{
position: absolute;
top: -94px;
left: 168px;    
 }
 .promo{
  position: relative;
 }
 .promo_content{
  position: relative;
  z-index: 1;
 }
 .promo_bg{
  position: absolute;
  width: 100%;
  top: -45px;
  left: 0;
}
.promo_bg img{
   height: 574px;
  }
 
.wb span{
display: block;
}
.promo_hd2 span{
display: block;
margin-block: 10px;
}


/* -------------------footer para---------------- */
.footer_logo img {
  width: 150px;
}

.footer_web img {
  margin-right: 20px;
}

.footer_para span {
  display: block;
  font-family: 'Poppins-Light';
}

.footer_col div {
  margin-bottom: 15px;
}

.footer_col .footer_head1 {
   font-family: 'CircularStd-Bold';
}

.footer_col h3 {
   font-weight: 100;
  line-height: 35px;
  font-family: 'CircularStd-Book';
}

.col_search .search_input {
  width: 300px;
}

.footer {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}

.col_input {
  padding: 10px;
}

.col_search_para {
  color: rgb(165, 161, 161);
}

/* -----------------------------copy write----------------------- */
.copywrite {
  text-align: center;
  margin-block: 30px;
}

.copy_para {
  margin-block: 20px;
  font-family: 'Poppins-Light';
}

/* -----------------------media query------------------------------------ */
/* ------------------------minimum width 578 px------------------------------- */
@media(min-width:578px) {
  * {
    padding: 0px;
    margin: 0px;
  }
  html{
    font-size: 9px;
  }

  .top1 {
    display: block;
   }


  /* ----------------top 2-------------------- */

  button img {
    width: 55px;
  }

  .top2_list button {
    display: block;
     background-color: rgba(255, 255, 255, 0.1);
  }

  .top2 {
    display: flex;
  }

  .top2_list ul {
    display: none;
    list-style-type: none;
  }

  .top2_list ul li a {
    height: 30px;
    color: rgb(179, 25, 25);
  }

  .top2_cart img {
    margin: -18px -38px 0px -13px;
  }

  /* ------------top right--------------- */
  .top_right .content {
    /* width: 60%; */
    margin-top: 0px;
    font-family: 'Poppins-Medium';
  }

  .top_right_search .btn_search {
    left: 361px;
    top: 10px;
  }
  .top_right_pic_para {
     color: rgb(239, 157, 64);
  }

  .scroll img {
     display: none;
   }

  /* ----------------travel--------------------------- */
  .travel {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 33px;
    margin-block: 7px;
    margin-top: 162px;
    gap: 43px;
  }

  .travel span {
    flex-basis: 100%;
  }

 
  /* ------------------about us ----------------------- */
  .aboutus {
    display: block;
   }


  .about_img1 {
    height: 694px;
    position: relative;
    z-index: 1;
    transform: rotateY(183deg);
    margin-left: 20px;
    width: 100%;
  }
  .about_para {
     text-align: justify;
  }

  .about_img2 {
    display: none;
   }

  /* ---------------All categories------------- */


  .offer_flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-block: 20px;
  }

  .offer_para span {
    font-family: 'CircularStd-Book';
    display: block;
    line-height: 21px;
  }

  .offer_box {
    text-align: center;
    flex-basis: 50%;
    margin-block: 20px;
  }

  .offer_pic_head {
    font-family: 'CircularStd-Bold';
    margin-block: 20px;
  }

  .offer_button {
    text-align: center;
  }

   .offer_pic1 {
    position: relative;
  }

  .pic1 {
    position: relative;
    z-index: 1;
  }

  .bg_box {
    background-color: rgb(197, 253, 197);
    width: 50px;
    height: 50px;
    display: block;
    position: absolute;
   }


  /* ------STRATEGIES----------------------------------------- */
  .strategy_head1 {
     color: rgb(45, 168, 216);
    margin-block: 10PX;
    font-family: 'CircularStd-Bold';
  }

  .strategy_head2 span {
    display: block;
     font-family: 'Poppins-Bold';
  }

  .flexible_flex .flex {
    display: flex;
    gap: 30px;
    margin-block: 30px;
  }

  .flexible_flex span {
    display: block;
    font-family: 'Poppins-Light';
    text-align: justify;
  }
  .strategy_flex {
    display: flex;
     justify-content: space-between;
   }

  .whitebg {
     background-color: rgb(244, 244, 244);
    height: 163px;
    width: 235px;
     border-radius: 30px;
    position: relative;
    z-index: 1;
    box-shadow: -1px 1px rgb(225, 225, 225);
  }

  .patientcare {
    position: relative;
    margin-block: auto;
  }

  .patient_pic1 {
    position: absolute;
    margin-top: 23px;
    margin-left: 14px;
  }

  .patient_pic1 img {
    width: 200px;
  }

  .patient_pluspic {
    position: absolute;
    transform: rotate(90deg);
    bottom: -59px;
    left: -65px;
  }

  .patient_stethescope {
    position: absolute;
    bottom: 260px;
    left: 152px;
  }

  .patient_stethescope img {
    width: 550px;
  }

  /* --------------Get in touch---------------------- */

  .get_bg {
    position: relative;
   }

  .intouch_bg img {
    position: absolute;
    top: 0;
    width: 100%;
  }

  .intouch_img img {
    width: 100%;
  }

  .connect {
    position: absolute;
    top: 0px;
    left: 10px;
  }

  .connect_head1 {
    font-family: 'Poppins-Light';
    font-size: 10px;
    color: rgb(45, 168, 216);
  }

  .connect_head2 span {
    display: block;
    font-family: 'Poppins-Bold';
  }

  .connect_content {
    display: flex;
    justify-content: space-between;
    color: white;
    gap: 20px;
  }

  .connect_btn a {
    padding: 20px;
    text-decoration: none;
    color: rgb(41, 51, 56);
    font-family: 'CircularStd-Book';
  }

  .connect_btn button {
    padding: 20px 30px;
    border-radius: 25px;
    border: 0px solid white;
  }

  /* ----------Area of Focus-------------------- */
  .field_head1 {
    color: rgb(45, 168, 216);
    margin-block: 20px;
    font-family: 'CircularStd-Bold';
  }

  .field_head2 span {
    display: block;
    font-family: 'Poppins-Regular';
  }

  .field_para p {
    margin-block: 30px;
    font-family: 'Poppins-Light';
  }

  .field_para p span {
    display: block;
  }

  .field_btn_collection button {
    display: block;
    margin-bottom: 10px;
  }

  .field_btn_collection .field_btn {
    display: flex;
    justify-content: space-between;
  }

  .field_btn {
    padding: 15px;
    width: 300px;
    text-align: left;
    border-radius: 30px;
    border: 1px solid rgb(211, 208, 208);
  }

  .field_btn:hover {
    background-color: black;
    color: white;
    cursor: pointer;
  }

  .area_focus {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
  }

  .illustration img {
    height: 822px;
    width: 274px;
  }

  .illustration {
    position: initial;
    margin-block: none;
  }

  .btn_content {
    width: 240px;
    position: absolute;
    background-color: #161b4a;
    border-radius: 20px;
    bottom: 10px;
    left: 302px;
    padding: 30px;
    height: 335px;
    color: white;
    display: none;
  }
  .fields {
    position: relative;
  }

  .btn_content.current {
    display: block;
  }

  .button h3 {
    font-weight: 300;
  }

  /* -----------------buy now---------------------- */
  .buy_now_img {
    display: flex;
  }

  .facemask_pic {
    width: 100%;
  }

  .covidpack_pic {
    width: 100%;
  }

  .buy_facemask {
    position: relative;
  }

  .buy_covidpack {
    position: relative;
  }

  .buy_mask {
    position: absolute;
    top: 11px;
    left: 24px;
    color: white;
    text-align: center;
  }

  .buy_pack {
    position: absolute;
    top: 11px;
    left: 86px;
    color: white;
    text-align: center;
  }

  .buy_now {
    margin-block: 100px;
  }

  .buy_now_button {
    padding: 10px;
    border: 1px solid white;
    border-radius: 10px;
    width: 117px;
    margin-inline: auto;
    margin-block: 20px;
  }

  .buy_now_button a {
    color: white;
    text-decoration: none;
  }

  .buy_mask_head1 {
     font-family: 'CircularStd-Bold';
     margin-block: 1px;
  }

  .buy_text {
    text-align: center;
    color: rgb(255, 255, 255);
  }

  /* ------------------vitamin----------------------------------- */
  .medicine_head {
    text-align: center;
  }

  .medicine_head1 {
     color: orangered;
    font-family: 'CircularStd-Bold';
  }

  .medicine_head2 span {
    display: block;
    font-family: 'Poppins-Bold';
    font-family: 'CircularStd-Bold';

  }

  .vitamin_flex {
    display: block;
    gap: 80px;
    margin-block: 30px;
    text-align: center;
   }

   .stars {
    display: block;
   }

  .star_color {
    color: gold;
  }

  .vitamin_pic {
    margin-block: 50px;
    position: relative;
  }

  .vitamin_pic1 {
    width: 350px;
  }

  .flag1 {
    position: absolute;
    bottom: -73px;
    left: 150px;
  }

  .flag2 {
    position: absolute;
    bottom: -73px;
    left: 150px;
  }

  .flag3 {
    position: absolute;
    bottom: -73px;
    left: 150px;
  }
  .vitamin_cart {
    border: 1px solid;
    padding: 10px;
    width: 150px;
    text-align: center;
    background-color: black;
    border-radius: 10px;
    margin-block: 30px;
    margin-inline: auto;
  }

  .vitamin_cart a {
    color: white;
    text-decoration: none;
    font-family: 'CircularStd-Book';
  }

  /* ---------------------Promotion------------------------------ */
  .promo_hd{
    text-align: center;
  }
  .wb{
  text-align: center;
  border: 0px solid;
  background-color: rgb(239, 231, 220);
  padding: 50px;
  width: unset;
  margin-inline: auto;
  margin-top: 100px;
  position: relative;   
  }
  .bg_pic{
  position: absolute;
  top: -94px;
  left: 200px;    
   }
    .promo_bg{
    position: unset;
   }
  .promo_bg img{
    height: 574px;
    display: none;
    }
   
   .promo_hd2 span{
  display: block;
  margin-block: 10px;
  }
  
  /* -------------------footer para---------------- */
  .footer_logo img {
    width: 150px;
  }

  .footer_web img {
    margin-right: 20px;
  }

  .footer_para span {
    display: block;
    font-family: 'Poppins-Light';
  }

  .footer_col div {
    margin-bottom: 15px;
  }

  .footer_col .footer_head1 {
    font-size: 25px;
    font-family: 'CircularStd-Bold';
  }

  .footer_col h1 {
    font-size: 15px;
    font-weight: 100;
    line-height: 35px;
    font-family: 'CircularStd-Book';
  }

  .col_search .search_input {
    width: 300px;
  }

  .footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 100px;
    gap: 15px;
  }

  .col_input {
    padding: 10px;
  }

  .col_search_para {
    color: rgb(165, 161, 161);
  }

  /* -----------------------------copy write----------------------- */
  .copywrite {
    text-align: center;
    margin-block: 30px;
  }

  .copy_para {
    margin-block: 20px;
    font-family: 'Poppins-Light';
  }

}
/* ------------------------minimum width 768 px------------------------------- */
@media(min-width:768px) {
  html{
    font-size: 14px;
  }
  /* ---------HOME PAGE SESSION------------- */

  /* ----------------top 2-------------------- */

  .top2 {
    display: block;
  }

  .top2_list ul {
    display: flex;
    gap: 15px;
    background-color: rgba(95, 78, 87, 0.5);
    height: 58px;
    }

  .top2_list ul li a {
    margin-block: auto;
    height: 60px;
    align-content: center;
    color: rgb(219, 215, 215);
    text-decoration: none;
  }

  .top2_cart img {
    margin: -18px -38px 0px -13px;
  }

  .top2_list button {
    display: none;
  }

  /* --------------------------------------------------- */

  .slide_pic img {
    width: 100%;
  }
  /* ------------top right--------------- */
  .top_right .content {
     margin-top: 50px;
    font-family: 'Poppins-Medium';
  }

  .search {
    margin-top: 10px;
  }

  .top_right_search .search {
    position: relative;
    margin-top: -23px;
  }

  .search_input {
    width: 458px;
    padding: 20px;
    font-size: 21px;
    border: 0px;
    border-radius: 8px;
    background-color: rgba(157, 187, 240, 0.8);
   }

  .top_right_search .btn_search {
    position: absolute;
    padding: 20px;
    padding: 14px 30px 14px 30px;
    border-radius: 9px;
    background-color: black;
    color: white;
    left: 330px;
    top: 10px;
  }

  .top_right_pic_para {
    position: absolute;
    bottom: 15px;
    left: 220px;
    color: rgb(29, 249, 91);
  }

  .scroll img {
     margin-left: -250px;
    margin-top: 100px;
  }

  /* ----------------travel--------------------------- */
  .travel {
    display: flex;
    justify-content: space-between;
    padding: 50px;
    margin-block: 12px;
    margin-top: 115px;
  }

  /* ------------------about us ----------------------- */
  .aboutus {
    display: block;
   }

   .about_img1 {
     position: relative;
    z-index: 1;
    width: 100%;
  } 
  .about_col2 {
    font-family: 'Poppins-Bold';
    margin: 24px;
  }
  /* ---------------All categories------------- */

  .offer_head {
    text-align: center;
  }

  .offer_head1 {
    font-family: 'CircularStd-Bold';
     color: rgb(0, 157, 255);
  }

  .offer_head2 {
    font-family: 'Poppins-Bold';
    margin-block: 20px;
  }

  .offer_flex {
    display: flex;
    justify-content: space-between;
    margin-block: 20px;
  }

  .offer_para span {
    font-family: 'CircularStd-Book';
    display: block;
    line-height: 21px;
  }

  .offer_box {
    text-align: center;
    flex-basis: 45%;
    margin-block: 20px;
  }

  .offer_pic_head {
    font-family: 'CircularStd-Bold';
    margin-block: 20px;
  }

  .offer_button {
    text-align: center;
  }

   .offer_pic1 {
    position: relative;
  }

  .pic1 {
    position: relative;
    z-index: 1;
  }

  .offer_box .bg_box {
    background-color: rgb(197, 253, 197);
    width: 50px;
    height: 50px;
    display: block;
    position: absolute;
   }
  .positionbg1 {
    bottom: -7px;
    right: 100px;
    border-radius: 20px 5px;
  }
  .positionbg2 {
    bottom: -7px;
    left: 100px;
    border-radius: 5px 20px
  }
  .positionbg4 {
    bottom: -7px;
    right: 100px;
    border-radius: 5px 18px
  }

  .offer_pic2 {
    position: relative;
  }

  .pic2 {
    position: relative;
    z-index: 1;
  }
  .offer_pic3 {
    position: relative;
  }

  .pic3 {
    position: relative;
    z-index: 1;
  }

  .offer_pic4 {
    position: relative;
  }

  .pic4 {
    position: relative;
    z-index: 1;
  }

  /* ------STRATEGIES----------------------------------------- */
 
  .strategy_head2 span {
    display: block;
     font-family: 'Poppins-Bold';
  }
  .whitebg {
    background-color: rgb(244 204 240);
    height: 270px;
    width: 334px;
    border-radius: 30px;
    position: relative;
    z-index: 1;
    box-shadow: -1px 1px rgb(225, 225, 225);
  }

  .patientcare {
    position: relative;
    margin-block: auto;
  }

  .patient_pic1 {
    position: absolute;
    margin: 34px;
  }

  .patient_pic1 img {
    height: 200px;
    width: 250px;
  }
  /* --------------Get in touch---------------------- */

 
.intouch_img img {
 width: 100%;
 margin-top: 24px;
} 
  .connect {
    position: absolute;
    top: 20px;
    left: 75px;
    }

  .connect_head2 span {
 display: unset;
 font-family: 'Poppins-Bold';
}

  .connect_content {
    display: flex;
    justify-content: space-between; 
    color: rgb(249, 59, 59);
    gap: 100px;

  }

  .connect_btn button{
    padding: 18px 7px;
     border-radius: 25px;
    border: 0px solid white;
}

  /* ----------Area of Focus--------------------*/
 
  .area_focus {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
  }

  .illustration img {
    height: 600px;
  }

  .illustration {
    position: unset;
    margin-block: auto;
  }

   .btn_content {
    width: 300px;
    position: absolute;
    background-color: #161b4a;
    border-radius: 20px;
    bottom: 11px;
    right: 0;
    padding: 30px;
    height: 335px;
    color: white;
    display: none;
  }

   /* -----------------buy now---------------------- */
   .buy_mask {
    position: absolute;
    top: 30px;
    left: 100px;
    color: white;
    text-align: center;
  }

  .buy_pack {
    position: absolute;
    top: 30px;
    left: 130px;
    color: white;
    text-align: center;
  }

  /* ------------------vitamin----------------------------------- */
   .vitamin_flex {
    display: block;
  }

  .stars {
    display: block;
    margin-block: 30px;
  }

 
  .vitamin_pic {
    margin-block: 50px;
    position: relative;
  }

  .vitamin_pic1 {
    width: 350px;
    }
  .flag1 {
    position: absolute;
    bottom: -73px;
    left: 230px;
  }

  .flag2 {
    position: absolute;
    bottom: -73px;
    left: 230px;
  }

  .flag3 {
    position: absolute;
    bottom: -73px;
    left: 230px;
  }
  .medicine_head2 span {
    display: inline;
    line-height: 50px;
  }
   /* ---------------------Promotion------------------------------ */
  .promo_hd{
    text-align: center;
  }
.wb{
  text-align: center;
  border: 0px solid;
  background-color: rgb(239, 231, 220);
  padding: 50px;
width: 500px;
margin-inline: auto;
margin-top: 100px;
position: relative;  
 }
 .bg_pic{
  position: absolute;
  top: -94px;
  left: 168px;    
   }
      .promo_bg img{
     display: none;
    }
   
  .promo_hd2 span{
  display: block;
  margin-block: 10px;
 }
  /* -------------------footer para---------------- */
 
  .footer_col h4 {
     font-weight: 100;
    line-height: 35px;
    font-family: 'CircularStd-Book';
  }
   /* -----------------------------copy write----------------------- */
 }
/* ------------------------minimum width 992 px------------------------------- */

@media(min-width:992px){
  
  .top2_list ul {
    display: flex;
    gap: 17px;
    background-color:unset;
    height:unset;
    } 
   .top2 {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    height: 100px;
    font-family: 'CircularStd-Book';
  }
  .top2_list ul li{
    margin-block: auto;
    height: 60px;
    align-content: center;
  }
  .top2_list ul li a {
    color: white;
    text-decoration: none;
  }

  .top2_cart img {
    margin: -18px -38px 0px -13px;
   }

  .top2_list button {
    display: none;
  } 
  /* --------------------All categories-------------------- */
  .positionbg1 {
    bottom: -7px;
    right: 172px;
    border-radius: 20px 5px;
  }
  .positionbg2 {
    bottom: -7px;
    left: 175px;
    border-radius: 5px 20px
  }
  .positionbg4 {
    bottom: -7px;
    left: 175px;
        border-radius: 5px 18px
  }
  /* ---------------get in touch----------------- */
  .connect_content {
    display: flex;
     color: rgb(249, 59, 59);
    gap: 350px;
    margin-top: 37px;
}
/* ------------------promotion------------------*/

    .white_bg {
        width: 450px;
        height: 250px;
        border-radius: 10px;
        background-color: rgba(225, 225, 225, 0.3);
        position: absolute;
        top: 140px;
        left: 326px;
    } 
}
/* ------------------------minimum width 1200 px------------------------------- */
@media(min-width:1200px) {

  /* ---------HOME PAGE SESSION------------- */
  .rectangle {
    background-image: url('/plusgen t2/img/Home/Rectangle\ 19295.png');
  }

  .top_session {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  .top1 {
    display: flex;
    justify-content: space-between;
    font-family: 'CircularStd-Book';
  }

  .top1_1 {
    color: rgb(16, 219, 87);
  }

  .top1_2 {
    color: white;
  }

  .top1_2 p::before {
    content: url('../img/Home/Frame.png');
  }

  /* ----------------top 2-------------------- */

  .top2 {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    height: 100px;
    font-family: 'CircularStd-Book';
  }

  .top2_list ul {
    display: flex;
    gap: 30px;
  }
  .top2_list ul li{
    margin-block: auto;
    height: 60px;
    align-content: center;
  }
  .top2_list ul li a {
    color: white;
    text-decoration: none;
  }

  .top2_cart img {
    margin: -18px -38px 0px -13px;
   }

  .top2_list button {
    display: none;
  }

  /* --------------------------------------------------- */

  .slide_pic img {
    width: 100%;
  }
  /* ------------top right--------------- */
  .top_right .content {
     margin-top: 70px;
    font-family: 'Poppins-Medium';
  }

   .search {
    margin-top: 30px;
  }

  .top_right_search .search {
    position: relative;
    margin-top: 20px;
  }

  .search_input {
    width: 55%;
    padding: 20px;
    font-size: 21px;
    border: 0px;
    border-radius: 8px;
    background-color: rgba(225, 225, 225, 0.5);
  }

  .top_right_search .btn_search {
    position: absolute;
    padding: 20px;
    padding: 14px 48px 14px 48px;
    border-radius: 9px;
    background-color: black;
    color: white;
    left: 461px;
    top: 10px;
  }

  .top_right_search {
    position: relative;
  }

  .top_right_search .pic {
    margin-top: 20px;
  }

  .top_right_pic2 {
    position: absolute;
    left: 25px;
  }

  .top_right_pic2 {
    position: absolute;
  }

  .top_right_pic3 {
    position: absolute;
    left: 50px;
  }

  .top_right_pic4 {
    position: absolute;
    left: 77px;
  }

  .top_right_pic5 {
    position: absolute;
    left: 105px;
  }

  .top_right_pic6 {
    position: absolute;
    left: 130px;
  }

  .top_right_search .pic::after {
    content: "+";
    font-weight: bold;
    position: absolute;
    left: 157px;
    border: 1px solid white;
    border-radius: 50%;
    background-color: rgb(87, 230, 134);
    width: 35px;
    height: 35px;
    color: aliceblue;
    text-align: center;
    align-content: center;
  }

  .top_right_pic_para {
    position: absolute;
    bottom: 15px;
    left: 220px;
    color: white;
  }

  .scroll img {
    margin-left: -250px;
    margin-top: 100px;
  }

  /* ----------------travel--------------------------- */
  .travel {
    display: flex;
    justify-content: space-around;
    padding: 50px;
    margin-block: 50px;
  }

  /* ------------------about us ----------------------- */
  .aboutus {
    display: flex;
    justify-content: space-evenly;
  }

  .btn {
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 20px;
    margin-block: 30px;
    width: 150px;
  }

  .btn a {
    text-decoration: none;
    color: white;
    font-family: 'CircularStd-Book';

  }

  .about_img1 {
    height: 694px;
    position: relative;
    z-index: 1;
  }

  .col1_img {
    position: relative;
  }

  .about_col2 {
    font-family: 'Poppins-Bold';
    flex-basis: 35%;
    margin: 80px;
  }

  .about_col2 .about_head1 {
    font-family: 'CircularStd-Book';
     color: rgb(45, 168, 216);
  }

  .about_para {
    font-family: 'CircularStd-Book';
    margin-block: 30px;
  }

  .about_img2 {
    position: absolute;
    bottom: -23px;
    right: -33px;
  }

  /* ---------------All categories------------- */

  .offer_head {
    text-align: center;
  }

  .offer_head1 {
    font-family: 'CircularStd-Bold';
     color: rgb(0, 157, 255);
  }

  .offer_head2 {
    font-family: 'Poppins-Bold';
     margin-block: 20px;
  }

  .offer_flex {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-block: 20px;
  }

  .offer_para span {
    font-family: 'CircularStd-Book';
    display: block;
    line-height: 21px;
  }

  .offer_box {
    text-align: center;
    flex-basis: 45%;
    margin-block: 20px;
  }

  .offer_pic_head {
    font-family: 'CircularStd-Bold';
    margin-block: 20px;
  }

  .offer_button {
    text-align: center;
  }
  .offer_pic1 {
    position: relative;
  }

  .pic1 {
    position: relative;
    z-index: 1;
  }

  .offer_box .bg_box {
    background-color: rgb(197, 253, 197);
    width: 50px;
    height: 50px;
    display: block;
    position: absolute;
   }

  .positionbg1 {
    bottom: -7px;
    right: 100px;
    border-radius: 20px 5px;
  }

  .positionbg2 {
    bottom: -7px;
    left: 100px;
    border-radius: 5px 20px
  }

  .positionbg4 {
    bottom: -7px;
    left: 96px;
        border-radius: 5px 18px
  }

  .offer_pic2 {
    position: relative;
  }

  .pic2 {
    position: relative;
    z-index: 1;
  }

  .offer_pic3 {
    position: relative;
  }

  .pic3 {
    position: relative;
    z-index: 1;
  }

  .offer_pic4 {
    position: relative;
  }

  .pic4 {
    position: relative;
    z-index: 1;
  }

  /* ------STRATEGIES----------------------------------------- */
   .strategy_head2 span {
    display: block;
   }

  .flexible_flex .flex {
    display: flex;
    gap: 30px;
    margin-block: 30px;
  }

  .flexible_flex h1 {
     font-family: 'Poppins-Light';
  }

  .flexible_flex span {
    display: block;
    font-family: 'Poppins-Light';
  }

  .strategy_flex {
    display: flex;
     justify-content: space-between;
   }

  .whitebg {
     background-color: rgb(244, 244, 244);
    height: 350px;
    width: 350px;
     border-radius: 30px;
    position: relative;
    z-index: 1;
    box-shadow: -1px 1px rgb(225, 225, 225);
  }

  .patientcare {
    position: relative;
    margin-block: auto;
  }

  .patient_pic1 {
    position: absolute;
    margin-top: 23px;
    margin-left: 14px;
  }

  .patient_pluspic {
    position: absolute;
    transform: rotate(90deg);
    bottom: -59px;
    left: -65px;
  }

  .patient_stethescope {
    position: absolute;
    bottom: 260px;
    left: 152px;
  }

  .patient_stethescope img {
    width: 550px;
  }

  /* --------------Get in touch---------------------- */

  .get_bg {
    position: relative;
    margin-top: 50px;
  }

  .intouch_bg img {
    position: absolute;
    top: 0;
    width: 100%;
  }

  .intouch_img img {
    width: 100%;
  }

  .connect {
    position: absolute;
    top: 6px;
    left: 52px;
    }

  .connect_head1 {
    font-family: 'Poppins-Light';
     color: rgb(45, 168, 216);
  }

  .connect_head2 span {
    display: block;
     font-family: 'Poppins-Bold';
  }

  .connect_content {
    display: flex;
    justify-content: space-between;
    color: white;
    gap: 530px;
  }

  .connect_btn a {
    padding: 20px;
    text-decoration: none;
    color: rgb(41, 51, 56);
    font-family: 'CircularStd-Book';
  }

  .connect_btn button {
    padding: 20px 30px;
    border-radius: 25px;
    border: 0px solid white;
   }

   /* ----------Area of Focus-------------------- */
  .field_head1 {
     color: rgb(45, 168, 216);
    margin-block: 20px;
    font-family: 'CircularStd-Bold';
  }

  .field_head2 span {
    display: block;
    font-family: 'Poppins-Regular';
  }

  .field_para p {
    margin-block: 30px;
    font-family: 'Poppins-Light';
  }

  .field_para p span {
    display: block;
  }

  .field_btn_collection button {
    display: block;
    margin-bottom: 10px;
  }

  .field_btn_collection .field_btn {
    display: flex;
    justify-content: space-between;
  }

  .field_btn {
    padding: 15px;
    width: 500px;
    text-align: left;
    border-radius: 30px;
    border: 1px solid rgb(211, 208, 208);
  }

  .field_btn:hover {
    background-color: black;
    color: white;
    cursor: pointer;
  }

  .area_focus {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
  }

  .illustration img {
    height: 600px;
  }

  .illustration {
    position: relative;
    margin-block: auto;
  }

  .btn_content {
    width: 300px;
    position: absolute;
    background-color: #161b4a;
    border-radius: 20px;
    bottom: 11px;
    left: 557px;
    padding: 30px;
    height: 335px;
    color: white;
    display: none;
  }

  .btn_content.current {
    display: block;
  }

  .button h3 {
    font-weight: 300;
  }

    /* -----------------buy now---------------------- */
  .buy_now_img {
    display: flex;
  }

  .facemask_pic {
    width: 100%;
  }

  .covidpack_pic {
    width: 100%;
  }

  .buy_facemask {
    position: relative;
  }

  .buy_covidpack {
    position: relative;
  }

  .buy_mask {
    position: absolute;
    top: 100px;
    left: 230px;
    color: white;
    text-align: center;
  }

  .buy_pack {
    position: absolute;
    top: 100px;
    left: 230px;
    color: white;
    text-align: center;
  }

  .buy_now {
    margin-block: 100px;
  }

  .buy_now_button {
    padding: 10px;
    border: 1px solid white;
    border-radius: 10px;
    width: 117px;
    margin-inline: auto;
    margin-block: 20px;
  }

  .buy_now_button a {
    color: white;
    text-decoration: none;
  }

  .buy_mask_head1 {
     font-family: 'CircularStd-Bold';
  }
   .buy_text {
    text-align: center;
    color: rgb(255, 255, 255);
  }

  /* ------------------vitamin----------------------------------- */
  .medicine_head {
    text-align: center;
  }

  .medicine_head1 {
     color: orangered;
    font-family: 'CircularStd-Bold';
  }

  .medicine_head2 span {
    display: block;
    font-family: 'Poppins-Bold';
    font-family: 'CircularStd-Bold';
 
  }

  .vitamin_flex {
    margin-block: 30px;
  }

  .vitamin_flex {
    display: flex;
    gap: 80px;
   }

   .stars {
    display: flex;
    justify-content: space-between;
    margin-block: 30px;
  }

  .star_color {
    color: gold;
  }

  .vitamin_pic {
    margin-block: 50px;
    position: relative;
  }

  .vitamin_pic1 {
    width: 350px;
  }

  .flag1 {
    position: absolute;
    bottom: -73px;
    left: 10px;
  }

  .flag2 {
    position: absolute;
    bottom: -73px;
    left: 10px;
  }

  .flag3 {
    position: absolute;
    bottom: -73px;
    left: 10px;
  }

   .calender_days {
    font-family: 'CircularStd-Book';
    color: rgb(126, 124, 124);
  }

  .price_head {
    color: red;
  }

  .price_line {
    font-weight: 100;
    color: rgb(126, 124, 124);
    font-size: 20px;
    margin-left: 15px;
  }

  .vitamin_para {
    line-height: 25px;
    font-family: 'CircularStd-Book';
  }

  .vitamin_cart {
    border: 1px solid;
    padding: 10px;
    width: 150px;
    text-align: center;
    background-color: black;
    border-radius: 10px;
    margin-block: 30px;
  }

  .vitamin_cart a {
    color: white;
    text-decoration: none;
    font-family: 'CircularStd-Book';
  }

 /* ---------------------------promo------------------------------------------ */
  .promo_hd{
    text-align: center;
  }
.wb{
  text-align: center;
  border: 0px solid;
  background-color: rgb(239, 231, 220);
  padding: 50px;
width: 500px;
margin-inline: auto;
margin-top: 100px;
position: relative;  
 }
 .bg_pic{
  position: absolute;
  top: -94px;
  left: 168px;    
   }
   .promo{
    position: relative;
   }
   .promo_content{
    position: relative;
    z-index: 1;
   }
   .promo_bg{
    position: absolute;
    width: 100%;
    top: -45px;
    left: 0;
  }
  .promo_bg img{
    display: block;
    height: 574px;
    }
   
 .wb span{
  display: block;
 }
 .promo_hd2 span{
  display: block;
  margin-block: 10px;
 }
  /* -------------------footer para---------------- */
  .footer_logo img {
    width: 150px;
  }

  .footer_web img {
    margin-right: 20px;
  }

  .footer_para span {
    display: block;
    font-family: 'Poppins-Light';
  }

  .footer_col div {
    margin-bottom: 15px;
  }

  .footer_col .footer_head1 {
     font-family: 'CircularStd-Bold';
  }

  .footer_col h1 {
     font-weight: 100;
    line-height: 35px;
    font-family: 'CircularStd-Book';
  }

  .col_search .search_input {
    width: 300px;
  }

  .footer {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
  }

  .col_input {
    padding: 10px;
  }

  .col_search_para {
    color: rgb(165, 161, 161);
  }

  /* -----------------------------copy write----------------------- */
  .copywrite {
    text-align: center;
    margin-block: 30px;
  }

  .copy_para {
    margin-block: 20px;
    font-family: 'Poppins-Light';
  }

}

/* ---------------------------------max width 576 px-------------- */
@media(max-width:576px) {
html{
  font-size: 10px;
}
  .top_session {
    display: block;
  }

  .top_session {
     display: block;
    top: 0;
    left: 0;
    width: 100%;
   }

  .top1 {
    display: block;
  }

  .top1_1 {
    margin-block: 10px;
  }

  .top1_2 {
    margin-block: 10px;
  }

  button img {
    width: 55px;
  }

   /* ----------------top 2-------------------- */
  .top2_list button {
    display: block;
    background-color: rgba(255, 255, 255, 0.1);
  }

  .top2 {
    display: flex;
  }

  .top2_list ul {
    display: none;
    list-style-type: none;
    margin-bottom: 200px;
  }

  .top2_list ul li a {
    height: 30px;
    color: rgb(179, 25, 25);
  }

  .top2_cart img {
    margin: -18px -38px 0px -13px;
  }

  /* --------------------------------------------------- */

  .slide_pic img {
    width: 100%;
    height: 250px;
   }
  /* ------------top right--------------- */
  .top_right .content {
    margin-top: 10px;
   }

  .top_right_para h1 span{
    color: rgb(32, 28, 28);
    display: unset;
   }

  .search {
    margin-top: 30px;
  }

  .search_input {
    padding: 20px;
    font-size: 15px;
    border: 0px;
    border-radius: 8px;
    background-color: rgba(225, 225, 225, 0.7);
  }

  .top_right_search .btn_search {
    position: absolute;
    padding: 20px;
    padding: 21px;
    border-radius: 9px;
    background-color: black;
    color: white;
    left: 162px;
    top: 0;
  }

  .top_right_pic_para {
    position: absolute;
    bottom: 15px;
    left: 220px;
    color: rgb(19, 18, 18);
    display: none;
  }

   .scroll img {
    display: none;
  }

  /* ----------------travel--------------------------- */
  .travel img {
    margin-block: 21px;
    padding: 17px;
  }

  .travel {
    display: block;
    padding: 28px;
    margin-top: 373px;
    text-align: center;
  }

  /* ------------------------------about us----------------- */
  .aboutus {
    display: block;
    justify-content: space-evenly;
  }

  .btn {
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 20px;
    margin-block: 30px;
    width: 150px;
  }

  .btn a {
    text-decoration: none;
    color: white;
    font-family: 'CircularStd-Book';
  }

  .about_img1 {
    height: 100%;
    position: relative;
    z-index: 1;
    width: 80%;
  }

  .col1_img {
    position: relative;
  }

  .about_col2 {
    font-family: 'Poppins-Bold';
    margin: 10px;
    padding: 5px;
  }

  .about_col2 .about_head1 {
    font-family: 'CircularStd-Book';
    color: rgb(45, 168, 216);
    text-align: center;
    margin-block: 10px;
    margin-top: 30px;
  }

  .about_head2 {
     text-align: justify;

  }

  .about_para {
    font-family: 'CircularStd-Book';
    margin-block: 30px;
    text-align: justify;
  }

  .about_img2 {
    position: absolute;
    bottom: -23px;
    right: -17px;
    display: none;
  }

  /* --------------All categories--------------- */
  .offer_head {
    text-align: center;
  }

  .offer_head1 {
    font-family: 'CircularStd-Bold';
     color: rgb(0, 157, 255);
  }

  .offer_head2 {
    font-family: 'Poppins-Bold';
    margin-block: 20px;
  }

  .offer_flex {
    display: block;
    margin-block: 20px;
  }

  .offer_para span {
    font-family: 'CircularStd-Book';
    display: block;
    line-height: 21px;
  }

  .offer_box {
    text-align: center;
    margin-block: 20px;
  }

  .offer_pic_head {
    font-family: 'CircularStd-Bold';
    margin-block: 20px;
  }

  .offer_button {
    text-align: center;
  }

  .offer_pic1 {
    position: relative;
  }

  .pic1 {
    position: relative;
    z-index: 1;
  }

  .offer_box .bg_box {
    background-color: rgb(197, 253, 197);
    width: 50px;
    height: 50px;
    display: block;
    position: absolute;
   }

  .positionbg2 {
    bottom: -7px;
    left: 118px;
    border-radius: 5px 20px
  }

  .positionbg1 {
    bottom: -7px;
    right: 121px;
    border-radius: 20px 5px;
  }

  .positionbg4 {
    bottom: -7px;
    right: 120px;
    border-radius: 5px 18px
  }

  /* ------STRATEGIES----------------------------------------- */
  .strategy_head1 {
     color: rgb(45, 168, 216);
    margin-block: 10PX;
    font-family: 'CircularStd-Bold';
    text-align: center;
  }

  .strategy_head2 span {
    display: block;
     font-family: 'Poppins-Bold';
  }

  .flexible_flex .flex {
     gap: 30px;
    margin-block: 30px;
  }

   .flexible_flex span {
    display: inline;
    font-family: 'Poppins-Light';
  }

  .strategy_flex {
    display: block;
  }

  /* ------------------- */
  .whitebg {
     background-color: rgb(244, 244, 244);
    height: 189px;
    width: 100%;
    border-radius: 30px;
    position: relative;
    z-index: 1;
    box-shadow: -1px 1px rgb(225, 225, 225);
  }

  .patientcare {
    position: relative;
    margin-block: auto;
  }

  .patient_pic1 {
    position: absolute;
    margin-top: 23px;
    margin-left: 14px;
  }

  .patient_pic1 img {
    width: 93%;
  }

  .patient_pluspic {
    position: absolute;
    transform: rotate(90deg);
    bottom: -59px;
    left: -65px;
  }

  .patient_stethescope {
    position: absolute;
    bottom: 260px;
    left: 152px;
  }

  .patient_stethescope img {
    width: 550px;
  }

   /* --------------Get in touch---------------------- */

  .get_bg {
    position: relative;
    margin-top: 50px;
  }

  .intouch_bg img {
    position: absolute;
    top: 0;
    width: 100%;
  }

  .intouch_img img {
    width: 100%;
  }

  .connect {
    position: inherit;
    top: 0px;
    left: 0px;
  }

  .connect_head1 {
    font-family: 'Poppins-Light';
     color: rgb(45, 168, 216);
    text-align: center;

  }

  .connect_head2 span {
    display: inline;
    font-family: 'Poppins-Bold';
  }

  .connect_content {
    display: block;
    color: rgb(57, 192, 36);
    text-align: center;
  }

  .connect_btn a {
    padding: 20px;
    text-decoration: none;
    color: rgb(41, 51, 56);
    font-family: 'CircularStd-Book';
  }

  .connect_btn button {
    padding: 12px;
    border-radius: 25px;
    border: 0px solid white;
    background-color: rgb(228, 102, 102);
  }
  /* ----------Area of Focus-------------------- */
  .field_head1 {
     color: rgb(45, 168, 216);
    margin-block: 20px;
    font-family: 'CircularStd-Bold';
    text-align: center;
  }

  .field_head2 span {
    display: inline;
    font-family: 'Poppins-Regular';
  }

  .field_para p {
    margin-block: 30px;
    font-family: 'Poppins-Light';
    text-align: justify;
  }

  .field_para p span {
    display: inline;
  }

  .field_btn_collection button {
    display: block;
    margin-bottom: 10px;
  }

  .field_btn_collection .field_btn {
    display: flex;
    justify-content: space-between;
  }

  .field_btn {
    padding: 15px;
    width: 300px;
    text-align: left;
    border-radius: 30px;
    border: 1px solid rgb(211, 208, 208);
  }

  .field_btn:hover {
    background-color: black;
    color: white;
    cursor: pointer;
  }

  .area_focus {
    display: block;
    margin-top: 30px;
  }

  .illustration img {
    height: 100%;
    width: 100%;
  }

  .illustration {
    position: relative;
    margin-block: auto;
  }

  .btn_content {
    width: 95%;
    position: inherit;
    background-color: #161b4a;
    border-radius: 20px;
    bottom: 11px;
    left: 0;
    padding: 30px;
     color: white;
    display: none;
  }

  .btn_content.current {
    display: inherit;
  }

  .button h3 {
    font-weight: 300;
  }

  /* -----------------buy now---------------------- */
  .buy_now_img {
    display: block;
  }

  .facemask_pic {
    width: 100%;
  }

  .covidpack_pic {
    width: 100%;
  }

  .buy_facemask {
    position: relative;
  }

  .buy_covidpack {
    position: relative;
  }

  .buy_mask {
    position: absolute;
    top: 10px;
    left: 67px;
    color: white;
    text-align: center;
  }

  .buy_pack {
    position: absolute;
    top: 10px;
    left: 99px;
    color: white;
    text-align: center;
  }

  .buy_now {
    margin-block: 50px;
  }

  .buy_now_button {
    padding: 9px;
    border: 1px solid white;
    border-radius: 10px;
    width: 117px;
    margin-inline: auto;
    margin-block: 20px;
  }

  .buy_now_button a {
    color: white;
    text-decoration: none;
  }

  .buy_mask_head1 {
     font-family: 'CircularStd-Bold';
  }

  /* ------------------vitamin----------------------------------- */
  .medicine_head {
    text-align: center;
  }

  .medicine_head1 {
     color: orangered;
    font-family: 'CircularStd-Bold';
  }

  .medicine_head2 span {
    display: inline;
     font-family: 'CircularStd-Bold';
  }

  .vitamin_flex {
    margin-block: 30px;
  }

  .vitamin_flex {
    display: block;
  }

  .stars {
    display: flex;
    justify-content: space-between;
    margin-block: 30px;
  }

  .star_color {
    color: gold;
  }

  .vitamin_pic {
    margin-block: 50px;
    position: relative;
  }

  .vitamin_pic1 {
    width: 100%;
  }

  .flag1 {
    position: absolute;
    bottom: -73px;
    left: 10px;
  }

  .flag2 {
    position: absolute;
    bottom: -73px;
    left: 10px;
  }

  .flag3 {
    position: absolute;
    bottom: -73px;
    left: 10px;
  }

  .vitaminbox h2 {
    margin-block: 15px;
    font-family: 'CircularStd-Book';
    }

  .calender_days {
    font-family: 'CircularStd-Book';
    color: rgb(126, 124, 124);
  }

  .price_head {
    color: red;
  }

  .price_line {
    font-weight: 100;
    color: rgb(126, 124, 124);
    font-size: 20px;
    margin-left: 15px;
  }

  .vitamin_para {
    line-height: 25px;
    font-family: 'CircularStd-Book';
    text-align: justify;
  }

  .vitamin_cart {
    border: 1px solid;
    padding: 10px;
    width: 150px;
    text-align: center;
    background-color: black;
    border-radius: 10px;
    margin-block: 30px;
  }

  .vitamin_cart a {
    color: white;
    text-decoration: none;
    font-family: 'CircularStd-Book';
  }

 /* -----------------------------promo edited-------------------------------- */
.promo_hd{
  text-align: center;
}
.wb{
text-align: center;
border: 0px solid;
background-color: rgb(239, 231, 220);
padding: 50px;
width: unset;
margin-inline: auto;
margin-top: 100px;
position: relative;   
}
.bg_pic{
position: absolute;
top: -94px;
left: 114px;    
 }
  .promo_bg{
  position: unset;
 }
.promo_bg img{
  height: 574px;
  display: none;
  }
 
 .promo_hd2 span{
display: block;
margin-block: 10px;
}

  /* -------------------footer para---------------- */
  .footer_logo img {
    width: 120px;
  }

  .footer_web img {
    margin-right: 20px;
  }

  .footer_para span {
    display: inline;
    font-family: 'Poppins-Light';
  }

  .footer_col div {
    margin-bottom: 15px;
  }

  .footer_col .footer_head1 {
     font-family: 'CircularStd-Bold';
  }

  .footer_col h4 {
     font-weight: 100;
    line-height: 35px;
    font-family: 'CircularStd-Book';
  }

  .col_search .search_input {
    width: 300px;
  }

  .footer {
    display: block;
    margin-top: 50px;
    text-align: center;
  }

  .col_input {
    padding: 10px;
  }

  .col_search_para {
    color: rgb(241, 133, 133);
  }

  /* -----------------------------copy write----------------------- */
  .copywrite {
    text-align: center;
    margin-block: 30px;
  }

  .copy_para {
    margin-block: 20px;
    font-family: 'Poppins-Light';
  }
}